.screen {
	margin: 150px auto 30px;   
	overflow: hidden;
	background-color: #BDECE6;
	border-radius: 5px;
	width: 300px;
	border: 2px dashed #EC7FA4;
}

#screenname {
	position: relative;
	text-align: center;
	border-radius: 5px;
	width: 200px;
	height: 30px;
	margin: 10px;
	border: 0;
	/* 去除input边框 */
}

.all_button {
	
	margin: 10px auto;
	width: 300px;
	border: 2px dashed #BDECE6;
	background-color: #EEC0CEDC;
	
}

.sign {
	width: 50px;
	height: 168px;
	float: left;
	background-color: #BDECE6;
	border-radius: 5px;
	margin: 2px -5px 5px 5px;
	border: 2px dashed #e9e9e9;
	overflow-x: hidden;
	overflow-y: scroll;
	color: #C9608B;
	font-family: Arial, Helvetica, sans-serif;
}

/* 隐藏混动条 */
.sign::-webkit-scrollbar {
	display: none;
}

.sign-button {
	display: block;
	width: 45px;
	height: 35px;
	margin: 2px 1px;
	padding-top: 11px;
	background-color: #BDECE6;
	border-radius: 5px;
	border: #BDECE6 2px dashed;
}

.sign-button:hover {
	background-color: #EEC0CEDC;
}

.button {
	width: 70px;
	height: 40px;
	margin: 2px;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	color: #C9608B;
    border: 2px dashed #e9e9e9;
	background-color: #BDECE6;
	
}

.button:active {
	margin: 5px;
	width: 70px;
	height: 40px;
	border-radius: 5px;
	background-color: #EEC0CEDC;
}

p {
	font-size: 20px;
	
}

.picture {
	width: 300px;
	height: 50px;
	margin: -10px 0;
	border: #f7d7d7 solid 2px;
}

img {
	float: left;
	height: 50px;
	width: 49px;
	-webkit-transition: all 0.2s ease-in;
       -moz-transition: all 0.2s ease-in;
         -o-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
}



img:hover {
	/* background-color: rgb(221, 241, 239); */
	-webkit-transform: rotate(10deg);/* Safari 和 Chrome */
	   -moz-transform: rotate(10deg);/* Firefox */
	     -o-transform: rotate(10deg);/* Opera */
	    -ms-transform: rotate(10deg);/* IE 9 */
	        transform: rotate(10deg);/* rotate旋转属性 */
   /*css3*/
}

img:last-child {
	border-left: #f7d7d7 2px dashed;
	width: 53px;
}


.time {
	width: 300px;
	height: 100px;
	margin: 100px auto -200px;
}
/* 
#button-del{
	visibility:hidden;
	隐藏且仍然占位置 
} 
*/
#button-last {
	width: 150px;
}

/*
 规范：
 [强制] 选择器 与 { 之间必须包含空格。
 [强制] 属性名 与之后的 : 之间不允许包含空格， : 与 属性值 之间必须包含空格。
 [强制] 列表型属性值 书写在单行时，, 后必须跟一个空格。font-family: Arial, sans-serif;
 [强制] 当一个 rule 包含多个 selector 时，每个选择器声明必须独占一行。

.post,
.page,
.comment {
    line-height: 1.5;
}



  */